*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

button,
summary {
  cursor: pointer;
}

/****************/
/* MIJN STYLING */
/****************/
:root {
  /* kleuren */
  --white: #fff;
  --black: #000;
  --blacklist: #333;
  --tekskleur-drie: #333;
  --zoekiconkleur: rgb(183, 183, 183);
  --menuiconkleur: rgb(74, 74, 74);
  --gradientmenupaars: #9159b0;
  --gradientmenublauw: #4361a8;
  --achtergrondlistitems: rgb(235, 235, 235);
  --tekstpaars: #6f2f92;
}
/* surface plane: darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --white: rgb(37, 37, 37);
    --black: #fff;
    --blacklist: rgb(248, 248, 248);
    --tekskleur-drie: rgb(237, 237, 237);
    --zoekiconkleur: rgb(183, 183, 183);
    --menuiconkleur: rgb(74, 74, 74);
    --gradientmenupaars: #9159b0;
    --gradientmenublauw: #4361a8;
    --achtergrondlistitems: rgb(96, 96, 96);
    --tekstpaars: #6f2f92;
  }
}

/* FONTS */
@font-face {
  font-family: aaux-next;
  src: url(../font/light.otf);
  font-weight: 100;
}
@font-face {
  font-family: aaux-next;
  src: url(../font/normal.otf);
  font-weight: 200;
}
@font-face {
  font-family: aaux-next;
  src: url(../font/medium.otf);
  font-weight: 300;
}
@font-face {
  font-family: aaux-next;
  src: url(../font/bold.otf);
  font-weight: 400;
}
/* END FONTS */
/* TEXT */
body {
  font-family: "aaux-next", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: var(--tekskleur-drie);
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  /*alleen zichtbaar voor screenreaders*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1;
}

h3 {
  font-size: 1.4375em;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--tekskleur-drie);
}


p {
  font-family: "aaux-next", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--tekskleur-drie);
  font-weight: 200;
}
/* END TEXT */
/* HEADER */
header {
  /* surface plane */
  position: fixed;
  top: 0;
  background-color: var(--white);
  width: 100%;
  z-index: 100;
  /* anders is ie te groot */
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
/* zoekicon */
header nav div i:first-of-type {
  margin-right: 0.2em;
  color: var(--zoekiconkleur);
}
/* menuicon */
header nav div i:nth-of-type(2) {
  color: var();
}
/* logo */
header nav a img {
  height: 4.6875em;
  border-radius: 3em;
}
/* hamburgermenu */
.hamburger {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(
    bottom,
    var(--gradientmenupaars) -40%,
    var(--gradientmenublauw) 100%
  );
  right: -100vw;
  top: 0;
  transition: 0.5s ease-out;
}
/* surface plane, prefers reduced motion (minder prikkels) */
@media (prefers-reduced-motion) {
  .hamburger {
    transition: none;
  }
}
/* inbeeld */
.hamburger.toonmenu {
  right: 0;
}
.hamburger > i {
  color: var(--white);
  right: 0.5em;
  font-size: 2.5em;
  top: 1em;
  position: absolute;
}
/* puntjesweg */
.hamburger ul li {
  list-style-type: none;
}
.hamburger ul li a {
  color: var(--white);
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: right;
  font-weight: 200;
  padding: 15px 10px;
  opacity: 90%;
}
/* icons in hamburgermenu */
.hamsocials {
  position: absolute;
  bottom: 50px;
  font-size: 1.3em;
  margin-left: 3em;
}
.hamsocials i {
  color: var(--white);
  width: 32px;
}
/* END HEADER */
/* MAIN */
main {
  width: 100%;
  margin-top: 7.2em;
  padding: 1em;
  background-color: var(--white);
}
/* HOMEPAGE */
.homemain section p:first-of-type {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 200;
}
.homemain ul {
  padding: 0.5em;
  list-style: none;
}
.homemain section {
  margin-left: 1em;
  margin-right: 1em;
}
/* list van actors etc */
.homemain ul li:not(li:first-of-type) {
  margin-top: 0.5em;
  background-color: var(--achtergrondlistitems);
  height: 14.625em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homemain ul li img {
  width: 100%;
  height: 15.625em;
  object-fit: cover;
}

.homemain ul li a h3 {
  font-weight: 300;
  line-height: 1;
  opacity: 0.8;
  text-align: center;
  color: var(--blacklist);
  display: block;
  font-size: 1.5em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* END HOMEPAGE */
/* ACTORSPAGE */

.actorsmain {
  padding: 1em;
  width: 100%;
}
/* title actors */
.actorsmain h2 {
  color: var(--tekstpaars);
  text-align: center;
}
.actorsmain ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 5em;
}

/* surface plane, she/her met hulp */
.actorsmain select {
  /* geen grijze balk erom */
  border: 0;
  /* paars randje */
  border-bottom: 3px solid var(--tekstpaars);
  /* grootte */
  height: 3em;
  width: 16em;
  /* in het midden */
  margin-left: calc(50% - 8em);
  /* afstand boven en beneden */
  margin-top: 3em;
  margin-bottom: 3em;
  /* typografie van she/her */
  font-family: "aaux-next", sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  color: var(--tekskleur-drie);
}
/* foto's hover kleur */
.actorsmain img {
  width: 100%;
  filter: grayscale(100%);
  transition: 75s;
}
.actorsmain img:hover {
  filter: none;
  transition: 0.75s;
}
.actorsmain ul li {
  list-style: none;
  text-align: center;
}

/* actors naam */
.actorsmain ul li a h3 {
  font-weight: 200;
  min-height: 50px;
  font-size: 1em;
  padding: 10px 0 0 0;
  width: 100%;
}
/* footer van actors */
.actorsfooter h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 200;
}

.actorsfooter p {
  font-size: 0.8em;
  margin: 3em;
  margin-top: 1em;
  font-weight: 200;
}
/* END ACTORSPAGE */
/* FOOTER */
footer {
  padding: 1em;
  width: 100%;
  text-align: center;
  background-color: var(--white);
}

footer p:nth-of-type(2) a {
  text-decoration: underline;
}
/* grootte icons */
footer section.socials a i {
  font-size: 1.3em;
}

footer section a i {
  margin: 0.6em;
}
/* END FOOTER */
